@font-face {
  font-family: "Nunito";
  src: url("../../style/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: Nunito;
  margin: 0;
  background: #e5e5e5;
}
a {
  display: block;
}
li {
  list-style: none;
}
input {
  padding-left: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
span {
  display: block;
}
img {
  display: block;
  object-fit: cover;
}

h2 {
  margin: 0;
}
